h2 {
    font-family:Brush Script MT,cursive;
    font-weight: normal;
    color:rgb(5, 29, 74);
}

h1 {
    color:rgb(5, 29, 74);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:40px;
    font-style:normal;
   
}

p {
    font-weight:bold;
    font-size:xx-large;
    color:rgb(123, 123, 132);
    font-family: Arial, Helvetica, sans-serif;
}

.left {
    font-size: 2rem;
}

nav {
    display:flex;
    justify-content:space-between;
}

nav ul {
    display:flex;
    justify-content:space-between;
    font-family: Arial, Helvetica, sans-serif;
    font-size:25px;
    color:rgb(5,29,74);
}

nav ul li {
    list-style:None;
    margin:30px;
}

nav ul li a {
    text-decoration:None;
    color:rgb(12, 12, 37);
}
nav ul li a:hover{
    color:rgb(132, 79, 237);   
}

nav2 {
    display:flex;
    justify-content:space-evenly;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    float:right;
    height:500px;
    width:600px;
    padding-right: 30px;
}

nav3 {
    justify-content:space-around;
}

p1{
    font-family: Arial, Helvetica, sans-serif;
    font-size:40px;
    padding-right:340px;
    padding-top: 80px;
    color:rgb(5, 29, 74);
}

